{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {},
  "rules": {
    "no-unused-vars": 2,
    "no-undef": 2,
    "strict": [
      2,
      "function"
    ],
    "camelcase": 2,
    "no-var": 0,
    "quotes": [
      2,
      "single"
    ],
    "curly": 2,
    "eqeqeq": 2,
    "no-irregular-whitespace": 2
  }
}
