* {
    font-family: Avenir, Helvetica Neue, Segoe UI, Helvetica, arial, sans-serif;
}

.pico-content {
    line-height: 1.2;
}

#background-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
