#background-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#modal {
    margin: auto;
    width: 960px;
    height: 500px;
    background-color: white;
    z-index: 1;
}

#dropzone {
    background-color: #c0c0c0;
    text-align: center;
    width: 70%;
    height: 70%;
    margin: auto;
}
